   {
       margin: 0;
       padding: 0;
   }

   body {
       font-family: 'Open Sans', sans-serif;
       font-size: 100%;
       width=70%;
       line-height: 2;
       font-weight: 400;
       background: #FFFFFF;
       color: #6e6e6e;
       padding: 2.5% 2.5% 0;
       margin-right: auto;
       margin-left: auto;
   }

   /* TITLE */

   h1.intro {
       font: 5em Helvetica;
   }

   h2.intro {
       font: 3em Helvetica;

   }


   /* NAVIGATION BAR STYLING */

   ul.nav {
       list-style-type: none;
       margin: 0;
       padding: 0;
       overflow: hidden;
       background-color: #333;
       position: sticky;
       top: 0;
   }

   li.nav {
       float: left;
   }

   li.nav a {
       display: block;
       color: white;
       text-align: center;
       padding: 14px 16px;
       text-decoration: none;
   }

   /* Change the link color to #111 (black) on hover */

   li.nav a:hover,

   li.dropdown:hover .dropbtn {
       background-color: #111;
   }



   /* DROPDOWN LIST */

   /* MAIN LIST */

   ul.index {
       font-size: 2em;
       margin: auto;
       width: 50%;
       list-style: none;
       margin-bottom: 0px;
   }

   /* FOOTER STYLING */

   p.footer {
       margin: auto;
       width: 50%;
       border: 3px solid green;
       padding: 10px;
   }
